NAME:SRUTHI S
REG NO:19MID0053

# Importing packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Importing dataset

In [2]:
df = pd.read_csv("first_csv_apa.csv")
df.head()

   Empid   Name Designation  Salary  Experience   Age
0      1    sru     Manager   10000         1.0  20.0
1      2    sar  Supervisor   15000         2.0  21.0
2      3  daddy      Labour   20000         2.5  22.0
3      4  mummy       Clerk   70000         7.0  30.0
4      5   ayya     Manager   50000         5.0  28.0

# Assigning X and Y values

In [3]:
X = df['Age'].values

y = df['Salary'].values

In [4]:
X

array([20. , 21. , 22. , 30. , 28. , 23. , 24. , 30. , 22.2, 22. , 33. ,
       34. , 36. , 37. , 38. , 22. , 24. , 21. , 20. , 32. , 22. , 21. ,
       22. , 21. , 22. , 22. , 22. , 23. , 23. , 23. ])

In [5]:
y

array([ 10000,  15000,  20000,  70000,  50000,  34023,  43202,  73023,
        15000,  17754,  80000,  82000,  96066, 105043, 132022,  23455,
        23324,  17343,  10344, 100546,   9376,  24335,  23234,   9444,
         9233,   5433,  22231,  13456,   2331,   7543], dtype=int64)

# Finding mean

In [21]:
X_mean=np.mean(X)
X_mean

25.34

In [22]:
Y_mean=np.mean(y)
Y_mean

38158.7

# Finding length

In [8]:
n=len(X)
n

30

# Finding m

m=sum((x-x_mean)(y-y_mean))/sum((x-x_mean)**2)

In [9]:
num=0
dem=0
for i in range(n):
    num=num+((X[i]-X_mean)*(y[i]-Y_mean))
    dem=dem+((X[i]-X_mean)**2)

In [10]:
m=num/dem

In [11]:
m

6265.1705213028745

# Finding c

c=y_mean-(m*x_mean)

In [12]:
c=Y_mean-(m*X_mean)

In [13]:
c

-120600.72100981484

# Finding y predicted

yp=mx+c

In [14]:
yp=[]
for i in range(n):
    yp.append(m*X[i]+c)

In [15]:
yp

[4702.6894162426615,
 10967.859937545538,
 17233.030458848414,
 67354.3946292714,
 54824.05358666564,
 23498.20098015129,
 29763.371501454138,
 67354.3946292714,
 18486.064563108972,
 17233.030458848414,
 86149.90619318002,
 92415.0767144829,
 104945.41775708865,
 111210.58827839153,
 117475.7587996944,
 17233.030458848414,
 29763.371501454138,
 10967.859937545538,
 4702.6894162426615,
 79884.73567187715,
 17233.030458848414,
 10967.859937545538,
 17233.030458848414,
 10967.859937545538,
 17233.030458848414,
 17233.030458848414,
 17233.030458848414,
 23498.20098015129,
 23498.20098015129,
 23498.20098015129]

# Finding R square value

R^2=sum((y_pred-y_mean)^2)/sum((y-y_mean)^2)

In [16]:
num1=0
dem1=0
for i in range(n):
    num1=num1+((yp[i]-Y_mean)**2)
    dem1=dem1+((y[i]-Y_mean)**2)

In [17]:
R_Square=num1/dem1

In [18]:
R_Square

0.9266272535469061

# Finding error rate

error_rate=1-R^2

In [19]:
error_rate=1-R_Square

In [20]:
error_rate

0.07337274645309388